@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

p {
  font-size: 16px;
  color: #344563;
}

h2 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.main-content {
    background-image: url(../img/hsm.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 0 24px;
    height: 718px;
    border-radius: 0 0 0 100px;
  }
